@using System.Web.Helpers
@model Tuple<IEnumerable<MVCapp.Models.File>, MVCapp.Models.User>
@{
    ViewData["Title"] = "Добавление файла";
}

<h3>Выберите файл для загрузки</h3>
<form method="post" asp-controller="File" asp-action="Upload" enctype="multipart/form-data">
    <input type="file" name="uploadFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

<p style="margin-top: 50px">List of Files</p>
<ul>
	@foreach (var item in Model.Item1)
	{
		<li>
			<a asp-controller="File" asp-action="Download"
			   asp-route-path="@item.Path">
				@if(item.DeleteStatus == 0)
				{
					@item.FileName 
				}
			</a>
			@if (item.DeleteStatus == 0)
			{
				<form asp-controller="File" asp-action="Delete" asp-route-path="@item.Path" >
					<input type="submit" value="Удалить"/>
				</form>
			}
			else
			{
				@if (Model.Item2.Role == MVCapp.Definitions.Role.ADMIN)
				{
					<form asp-controller="File" asp-action="Recover" asp-route-path="@item.Path">
						<input type="submit" value="Восстановить" />
					</form>
				}
				else
				{
					<div>Файл удален.</div>
				}
			}
		</li>
	}
</ul>
